<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Acquisitions Inc. Categories</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
  <header class="main-header">
    <h1 class="main-header__title">Acquisitions Inc. Categories</h1>
  </header>
  <form class="review-form" action="/reviews/add" method="POST">
    <ul class="review-form__list">
      <label class="review-form__field">Category:
        <input type="text" name="category" placeholder="Enter Category here" /></label>
    </ul>
  </form>
  <footer class="main-footer">
    <small class="main-footer__copy">&copy;2019</small>
  </footer>
</body>

</html>