<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Acquisitions Inc. Category</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
  <div class="wrapper">
    <header class="main-header">
      <h1 class="main-header__title">Acquisitions Inc. Category</h1>
      <nav class="nav nav-margin__right">
        <ul class="nav-list">
          <li class="nav-list__item"><a href="#home">Home</a></li>
          <li class="nav-list__item"><a href="/all-reviews/">Reviews</a></li>
          <li class="nav-list__item"><a href="/all-categories/">Categories</a></li>
          <li class="nav-list__item"><a href="/all-reviewTags/">Tags</a></li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <ul th:each="review: ${categoryAttribute.reviews}">List of <span
          th:text="${categoryAttribute.name}">Category</span> Reviews
        <li><a th:text="${review.title}" th:href="|/all-reviews/${review.id}|">Review</a></li>
      </ul>
      <a href="/all-categories/">Back to Categories</a>
    </div>
    <footer class="main-footer">
      <small class="main-footer__copy">&copy;2019</small>
    </footer>
  </div>
</body>

</html>