<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Acquisitions Inc. Category</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
  <header class="main-header">
    <h1 class="main-header__title">Acquisitions Inc. Category</h1>
  </header>
  <div class="container">
    <h3 th:text="${reviewAttribute.category.name}">Category</h3>
    <a href="/all-categories/">Back to Categories</a>
  </div>
  <footer class="main-footer">
    <small class="main-footer__copy">&copy;2019</small>
  </footer>
</body>

</html>