<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Acquisitions Inc.</title>
</head>

<body>
    <div>
        <h2>Review Title</h2>
        <img src="" alt="Review Image">
        <h3>Category</h3>
        <p>Content--- Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, aliquam, numquam architecto eius
            dicta ipsam labore ad illum dolorum, quas quaerat quod aspernatur. Quos reprehenderit, voluptates
            perspiciatis illum sint natus.</p>
    </div>
    <a href="/reviews/">Back to Reviews</a>
</body>

</html>